@import "variables";

a.logo {
  img {
    width: 32px;
    margin-top: -4px;
  }

  .logo-lg img {
    margin-right: 6px;
  }
}

.wrap-content {
  word-wrap: break-word;
  white-space: normal;
}

.pre {
  font-family: "Menlo", "Monaco", "Courier New", Courier, monospace;
}

.wrapper {
  .spinner {
    border: 4px solid $navy;
    border-radius: 70px;
    height: 70px;
    width: 70px;
    left: 50%;
    margin: -35px 0 0 -35px;
    opacity: 0;
    position: absolute;
    top: 50%;
    display: none;

    animation: loader_pulsate 1s ease-out;
    animation-iteration-count: infinite;
  }

  &.loading {
    .spinner {
      display: block;
    }
  }
}

@keyframes loader_pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.change-name {
  opacity: .6;
  cursor: pointer;

  &:hover, &:active {
    opacity: 1;
  }
}

.user-panel .sidebar-form {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 20px;
}

#zone-list-table {
  td {
    line-height: 2em;

    strong.lg {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

td.leading-icon {
  & > i {
    margin-right: 8px;
  }
}

td .btn-group-sm .btn {
  font-size: 16px;
  padding: 2px 9px;
}

.input-group-lg .btn-flat {
  border-radius: 0 !important;
}

.btn.icon-left i {
  margin-right: .35em;
}

h3[data-widget="collapse"] {
  cursor: pointer;
}

.notifications-menu {
  .menu {
    .notification {
      position: relative;

      h4 {
        font-size: 14px;
        word-wrap: break-word;
        white-space: normal;
      }

      small.time {
        position: absolute;
        top: 17px;
        right: 0;
        font-size: 10px;
        display: block;
        padding: 6px;
      }

      p {
        font-size: 12px;
        word-wrap: break-word;
        white-space: normal;
      }
    }

    .notification.unread {
      color: #274c71;
      background-color: #f7fbff;

      h4, p {
        color: #274c71;
      }
    }
  }
}

.record-soa {
  dt {
    width: 120px;
    line-height: 2em;
  }
  dd {
    margin-left: 134px;
    line-height: 2em;
    @extend .pre;
  }

  .help-popover {
    font-size: 15px;
    line-height: 16px;
    position: absolute;
    left: 16px;
    display: block;
    margin-top: 7px;
    cursor: pointer;
  }
}

.popover-title {
  font-weight: bold;
  font-size: 16px;
}

.popover-content {
  line-height: 1.5em;

  ul, ol {
    padding-left: 16px;

    li {
      margin-bottom: 0.35em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.rr-dropdown-wrapper {
  margin-bottom: 8px;
  margin-top: 26px;

  .select2 {
    display: block;
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .new-record {
    margin-top: 25px;
  }
}

#ohsnap {
  max-width: 37.5%;
  position: fixed;
  bottom: 0;
  right: 21px;
  z-index: 100;
  cursor: pointer;

  .alert {
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
  }

  .alert-red {
    color: white;
    background-color: #DA4453;
  }

  .alert-green {
    color: white;
    background-color: #37BC9B;
  }

  .alert-blue {
    color: white;
    background-color: #4A89DC;
  }

  .alert-yellow {
    color: white;
    background-color: #F6BB42;
  }
}
