@import "variables";

a.logo {
  img {
    width: 32px;
    margin-top: -4px;
  }

  .logo-lg img {
    margin-right: 6px;
  }
}

.wrap-content {
  word-wrap: break-word;
  white-space: normal;
}

.pre {
  font-family: "Menlo", "Monaco", "Courier New", Courier, monospace;
}

.wrapper {
  .spinner {
    border: 4px solid $navy;
    border-radius: 70px;
    height: 70px;
    width: 70px;
    left: 50%;
    margin: -35px 0 0 -35px;
    opacity: 0;
    position: absolute;
    top: 50%;
    display: none;

    animation: loader_pulsate 1s ease-out;
    animation-iteration-count: infinite;
  }

  &.loading {
    .spinner {
      display: block;
    }
  }
}

@keyframes loader_pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.change-name {
  opacity: .6;
  cursor: pointer;

  &:hover, &:active {
    opacity: 1;
  }
}

.user-panel .sidebar-form {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 20px;
}

#zone-list-table {
  td {
    line-height: 2em;

    strong.lg {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

td.leading-icon {
  & > i {
    margin-right: 8px;
  }
}

td .btn-group-sm .btn {
  font-size: 16px;
  padding: 2px 9px;
}

.input-group-lg .btn-flat {
  border-radius: 0 !important;
}

.btn.icon-left i {
  margin-right: .35em;
}
