class PowerestConfig {
    constructor() {
        // HTTP or HTTPS?
        this.use_ssl = false;
        this.api_host = "127.0.0.1";
        this.api_port = 8081;

        // TODO / FIXME: Get rid of this secret in here
        this.api_key = "";

        // which server to manage
        this.server = "localhost";

        this.default_record_ttl = 86400;
        this.default_zone_ttl = 86400;
    }
}

module.exports = new PowerestConfig();
